@import "styles/index.sass"

#dateSlider
    width : 400px
    .sliderBtn
        text-align: center
        vertical-align: middle
        size: 50px
        background-color: $brandColor
        color : $white