@import 'styles/index.sass'

#header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 1rem
    margin-left: .5rem
    @include for-mobile
        flex-direction: column
        align-items: start
        height: 7rem
    >div:nth-child(1)
        margin-top: 1rem
        h1
            font-family: GeomanistBold
            margin-bottom: unset
            display: inline
            @include for-mobile
                font-size: 1.7rem
        span
            display: inline-block
            margin-left: .5rem
            padding: 0 .5rem
            background-color: $brandColor
            border-radius: .4rem
            color: $white
            position: relative
            bottom: .4rem
            font-family: GeomanistBold

    >div:nth-child(2)
        display: flex
        justify-content: space-between
        align-items: center
        @include for-mobile
            align-content: start
            width: 100%
        >span
            display: inline-block
            margin: 0 1rem
            color: $mateBlack
            font-size: 1.2rem
            font-family: GeomanistRegular
            transition: all 200ms ease-in-out
            cursor: pointer
            &:hover
                font-weight: bold
                color: $brandColor
        >span:nth-child(1)
            @include for-mobile
                margin-left: 0
        .igButton
            font-size: 14px
            background: radial-gradient(circle at 0% 107%, #fd5949 45%,#d6249f 70%) !important
            color: $white
            height: 30px
            padding: 0 12px
            margin: 0 1rem
            border-radius: .5rem
            white-space: nowrap
            cursor: pointer
            display: flex
            align-items: center
            justify-content: center
            transition: all 200ms ease-in
            &:hover
                transform: scale(1.02)
            &:active
                transform: scale(.95)
        >svg
            margin-left: 1rem
            stroke: $darkGrey
            cursor: pointer
            &:hover
                stroke: $brandColor
