// body
//     margin: 1rem 1rem


#root
    margin: 1rem 1rem
    display: flex
    flex-direction: column
    min-height: -moz-fill-available
    min-height: -webkit-fill-available
    min-height: stretch
    
