@import 'styles/index.sass'


#infoPanel
    padding: 1rem
    display: flex
    flex-direction: column
    justify-content: space-around

    #infoPanel-title
        color: $mateBlack
        font-family: GeomanistBlack
        font-size: 2rem
        flex: 1
        text-transform: capitalize
    
    #dateSlider
        flex: 2

    
    #infoPanel-stats
        flex: 3
        display: flex
        justify-content: space-between
        align-content: center
        .infoPanel-stats-stat
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            color: $mateBlack
            font-family: GeomanistBold
            span:nth-child(1)
                
                font-size: 1.5rem
            span:nth-child(2)
                
                
