@import 'styles/index.sass'


#markSelector
    width : 100%
    padding-left: 1rem
    padding-top: .5rem
    .ant-tag
        margin: .5rem
    .site-tag-plus
        cursor: pointer
        >svg
            vertical-align: middle
